html{
  width: 100%;
}

header{
  flex-flow: column nowrap;
  height: 400px;
}
header div h1, h2{
  margin: 10px 0;
}
img.logo{
  width: 180px;
  height: 180px;
}

div figure.c3 img, figure.c6 img, figure.c7 img{
  height: 300px;
}

button.display-left{
  order: 19;
}

button.display-right, button.display-left{
  height: 50px;
}

div#Photos figure{
  width: 400px;
}

div#Photos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


.v1,.v2{
  width: 95%;
}

header div h1{
  font-size: 2.5rem;
}
header div h2.de-emph{
  font-size: 1.75rem;
}
