header{
  flex-flow: column nowrap;
}
header div h1, h2{
  margin: 10px 0;
}

div#PhotosAndVideos{
  flex-flow: column wrap;
  align-items: center;
}
div#PhotosAndVideos figure{
  width: 100%;
}
.v1,.v2{
  width: 95%;
}

header div h1{
  font-size: 2.5rem;
}
header div h2.de-emph{
  font-size: 1.75rem;
}
